<!--- credit: code taken from https://github.com/Code-Institute-Solutions/boutique_ado_v1 and edited to fit project needs -->


{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="justify-content-center outerframe">
        <div class="frame">
            <div class="aboutwrapper">
                <h1 class="display-4 logo-font text-black">
                    What is Mama's Letterbox?
                </h1>
                <section>
                    <h2 class= "aboutheading">Our Mission</h2>
                    <p class= "aboutparagraph">
                        Are you looking to meet other parents? Are you trying to spend less time in front of your screen 
                        and resdicover activities you used to enjoy in the past? Has parenting young children during a global 
                        pandemic made it challenging for you to do either? Then Mama's Letterbox is the place for you! No 
                        matter where in the world you are located, what your current family situation is, and what interests
                        you have, here you will be able to find like-minded parents to exchange stories, ideas, and laughs
                        via snail mail.
                    </p>
                </section>
                <br style="line-height: 2rem;">
                <section>
                    <h2 class= "aboutheading">How Does It Work?</h2>
                    <p class= "aboutparagraph">
                        Anyone can sign up for a free account and create a profile. To see other members' profiles, simply sign 
                        up for our monthly membership plan. Once you sign up for a membership, you will be able to access our 
                        member database and contact members directly via email. While this platform 
                        is intended to foster offline connection, we understand that everyone has different comfort levels when it
                        comes to sharing their mailing address. Feel free to commumicate via email first and move at your own pace.
                        Not able to find anyone who seem like a good fit? No obligation to 
                        stay on; cancel your membership anytime <a href="mailto:katjacodes@gmail.com">by sending us a quick email</a>, keep your profile, and feel free to return at a later point. Our
                        commnunity is constatnly growing. For now, you can purchase a membership at a low symbolic cost of 
                        U.S. $0.50 per month. Our goal is to grow our community and help parents find like-minded penpals. To make
                        this effort sustainable, prices will go up in the future. However, if you were with us from the beginning, 
                        your plan will remain at U.S. $0.50 for as long as you decide to stick around.
                    </p>
                </section>
                <br style="line-height: 2rem;">
                <section>
                    <h2 class= "aboutheading">What If I Don't Find Anyone Who Seems to Be a Good Fit?</h2>
                    <p class= "aboutparagraph">
                        Not able to find anyone who seem like a good fit? No obligation to 
                        stay on; cancel your membership anytime, keep your profile, and feel free to return at a later point. Our
                        commnunity is constatnly growing.
                    </p>
                </section>
                <br style="line-height: 2rem;">
                <section>
                    <h2 class= "aboutheading">So, This Is It?</h2>
                    <p class= "aboutparagraph">
                        Our site is constantly evolving. To stay up-to-date about new features and community events, simply <a href="mailto:katjacodes@gmail.com">send us an email</a> to be added
                        to our newsletter. We promise we will send you exclusively information related to Mama's Letterbox. In the near future, we plan to introduce an on-site chat to allow initial communication
                        right on the site, a blog featuring monthly member profiles, and -- pandemic situation permitting -- local Mama's 
                        Letterbox meet-ups for those interested in meeting their penpals or other parents who enjoy letterwriting in person.
                    </p>
                </section>
            </div>
        </div>  
    </div>
</div>
{% endblock %}