<!--- credit: code taken from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/6a51b60c029c78540dd10d7c5b241eaa902aa000/home/templates/home/index.html and edited to fit project needs -->


{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto lookingforpenpalswrapper">
                <div class="profilewrapper">
                    <h1 class="display-4 logo-font text-black d-flex justify-content-center">
                        Add Your Profile
                    </h1>
                </div>
                <form id="profile" class="profile" method="POST" action="add_profile">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Add Profile</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}