<!--- credit: code taken from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/6a51b60c029c78540dd10d7c5b241eaa902aa000/home/templates/home/index.html and edited to fit project needs -->


{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="justify-content-center lookingforpenpalswrapper">
                <div class="profilewrapper">
                    <h1 class="display-4 logo-font text-black profile">
                        {% for profile in profiles %}
                            {{profile.name}}
                        {% endfor %}  
                    </h1>
                </div>
                <ul id="profile" class="profile">
                    {% for profile in profiles %}
                            <li class="profileinfo">Pronouns: {{profile.pronoun}}</li>
                            <li class="profileinfo">Age: {{profile.age}}</li>
                            <li class="profileinfo">Country: {{profile.country}}</li>
                            <li class="profileinfo">Language: {{profile.language1}}</li>
                            <li class="profileinfo">Language 2: {{profile.language2}}</li>
                            <li class="profileinfo">Language 3: {{profile.language3}}</li>
                            <li class="profileinfo">Hobby: {{profile.hobby1}}</li>
                            <li class="profileinfo">Hobby 2: {{profile.hobby2}}</li>
                            <li class="profileinfo">Hobby 3: {{profile.hobby3}}</li>
                            <li class="profileinfo">Age Child: {{profile.childAge1}}</li>
                            <li class="profileinfo">Age Child 2: {{profile.childAge2}}</li>
                            <li class="profileinfo">Age Child 3: {{profile.childAge3}}</li>
                            <li class="profileinfo">Age Child 4: {{profile.childAge4}}</li>
                            <li class="profileinfo">Age Child 5: {{childAge5}}</li>
                            <li class="profileinfo">Email: {{profile.email}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
