<!--- credit: code taken from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/6a51b60c029c78540dd10d7c5b241eaa902aa000/home/templates/home/index.html and edited to fit project needs -->


{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="justify-content-center lookingforpenpalswrapper">
                <div class="profilewrapper">
                    <h1 class="display-4 logo-font text-black profile">
                        {% for penpal in penpals %}
                            {{penpal.name}}
                        {% endfor %}  
                    </h1>
                </div>
                <ul id="profile" class="profile">
                    {% for penpal in penpals %}
                            <li class="profileinfo">Name: {{penpal.name}}</li>
                            <li class="profileinfo">Age: {{penpal.age}} </li>
                            <li class="profileinfo">Pronouns: {{penpal.pronoun}} </li>
                            <li class="profileinfo">Age: {{penpal.age}} </li>
                            <li class="profileinfo">Country: {{penpal.country}} </li>
                            <li class="profileinfo">Hobby: {{penpal.hobby1}} </li>
                            <li class="profileinfo">Hobby 2: {{penpal.hobby2}} </li>
                            <li class="profileinfo">Hobby 3: {{penpal.hobby3}} </li>
                            <li class="profileinfo">Age Child: {{penpal.childAge1}} </li>
                            <li class="profileinfo">Age Child 2: {{penpal.childAge2}} </li>
                            <li class="profileinfo">Age Child 3: {{penpal.childAge3}} </li>
                            <li class="profileinfo">Age Child 4: {{penpal.childAge4}} </li>
                            <li class="profileinfo">Age Child 5: {{penpal.childAge5}} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}