<!--- credit: code taken from https://github.com/Code-Institute-Solutions/boutique_ado_v1 and edited to fit project needs -->


{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="justify-content-center lookingforpenpalswrapper outerframe">
            <div class="lookingforpenpals">
                <h1 class="display-4 logo-font text-black text-center">
                    Mamas Looking for Penpals
                </h1>
            </div>
            <table id="penpals">
                    <tr class="logo-font text-black text-center">
                        <th>Name</th>
                        <th>Age</th>
                        <th>Country</th>
                    </tr>
                {% for penpal in penpals %}
                    <tr>
                        <td class="profilename">{{penpal.name}}</td>
                        <td class="profileinfo">{{penpal.age}}</td>
                        <td class="profileinfo">{{penpal.country}}</td>
                        <td>
                            <div class="text-center">
                                <a href="{% url 'penpal_detail' penpal_id=penpal.id %}" class="listbutton">
                                    View Profile
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
