<!--- credit: code taken from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/6a51b60c029c78540dd10d7c5b241eaa902aa000/home/templates/home/index.html and edited to fit project needs -->


{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="justify-content-center lookingforpenpalswrapper">
                <div class="lookingforpenpals">
                    <h1 class="display-4 logo-font text-black">
                        Mamas Looking for Penpals
                    </h1>
                </div>
                <table id="penpals">
                    {% for penpal in penpals %}
                        <tr>
                            <td class="profilename">{{penpal.name}}</td>
                            <td class="profileinfo">{{penpal.age}}</td>
                            <td class="profileinfo">{{penpal.country}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
