/* -------------------------------- GENERAL -------------------------------- */
/* credit: code taken from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/master/static/css/base.css and edited to fit project needs */

html {
    height: 100%;
}

body {
    background: url('../images/mailbox.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.mamaslogo {
  font-family: 'Kavoon', cursive;
}

td {
  padding: 5px;
}

.frame {
  padding-bottom: 20px !important;
  padding-top: 50px !important;
}

tr:nth-child(even) {
  background: rgba(213, 6, 71, .8);
  color: white;
}

tr:nth-child(odd) {
  background: rgba(214, 173, 184, .8);
}

table {
  margin-top: 25px;
  font-size: 21px;
  color: black;
  font-weight: 600;
  line-height: 42px;
  table-layout: fixed;
  width: 50%;
}

td {
  width: 50% ;
  border-radius: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

th {
  color: white !important;
  border-radius: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

label.requiredField {
  color: black !important;
}

label {
  color: black !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.start-here-button {
    background: rgb(213, 6, 71);;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.start-here-button:hover,
.start-here-button:active,
.start-here-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.navbarstyle {
    background-color: rgba(213, 6, 71, 0.9);
    color: white;
}

/* -------------------------------- ALLAUTH -------------------------------- */
/* credit: code taken from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/master/static/css/base.css and edited to fit project needs */

.authwrapper {
  padding: .8rem;
  background-color: rgba(214, 173, 184, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: black; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(213, 6, 71);
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
color: black; /* text-info */
font-weight: 800;
text-decoration: underline;
}

div#div_id_remember.form-check {
  color: black !important;
}

div p p a.findapenpal {
  font-weight: 800 !important;
  text-decoration: underline !important;
  color: black !important;
}

div p p a.findapenpal.visited {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: black !important;
}

div p p a.findapenpal.visited:active {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: black !important;
}

div p p a.findapenpal.active a {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: black !important;
}

div p p a.findapenpal:hover {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: blue !important;
}

/* -------------------------------- LANDING PAGE -------------------------------- */

.indexwrapper {
  padding: .8rem;
  margin: 25px 20px 25px 20px;
  background-color: rgba(214, 173, 184, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

/* -------------------------------- ABOUT PAGE -------------------------------- */

.aboutwrapper {
    padding: .8rem;
    background-color: rgba(214, 173, 184, 0.8);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.aboutheading {
  color: rgb(213, 6, 71) !important;
  font-weight: 800 !important;
}

.aboutparagraph {
  color: black !important;
  font-weight: 600 !important;
}

section p a {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: rgb(213, 6, 71) !important;
}

section p a.visited {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: black !important;
}

section p a.visited:active {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: rgb(213, 6, 71) !important;
}

section p a.active a {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: rgb(213, 6, 71) !important;
}


/* -------------------------------- PENPAL PROFILE & EDIT PROFILE -------------------------------- */

.profileowner {
  font-family: 'Kavoon', cursive;
}

.textcenter {
  text-align: center;
  background-color: rgba(214, 173, 184, 0.8);
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.profilebutton {
  background-color:  rgb(213, 6, 71) !important;
  color: white;
  font-weight: 600;
  font-size: 21px;
  padding: 15px;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.editbutton {
  background-color:  rgb(213, 6, 71) !important;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

div a.editbutton {
  font-weight: 800 !important;
  color: white !important;
}

div a.editbutton.visited {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: white !important;
}

div a.editbutton.visited:active {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: white !important;
}

div a.editbutton.active a {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: white !important;
}

td.penpalinfo a {
  font-weight: 800 !important;
  text-decoration: underline !important;
  color: black !important;
}

td.penpalinfo a.visited {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: black !important;
}

td.penpalinfo a.visited:active {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: black !important;
}

td.penpalinfo a.active a {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: black !important;
}

td.penpalinfo a:hover {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: blue !important;
}

/* -------------------------------- PENPAL LISTINGS -------------------------------- */

.profilename {
    color: black;
    font-size: 30px;
}

.profileinfo {
    color: black;
    font-size: 20px;
}

.profileinfo {
    color: black;
    font-size: 20px;
}

.lookingforpenpals {
    padding: .8rem;
    background-color: rgba(214, 173, 184, 0.6);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
 }

.penpalwrapper {
    margin-left: auto;
    margin-right: auto;
}

#penpals {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
}

table#penpals {
border-collapse: separate;
}

#penpals td {
  border: 1px solid white;
  padding: 8px;
}

#penpals tr:nth-child(odd){background-color: rgba(213, 6, 71, .8)}

#penpals tr:nth-child(even){background-color: rgba(214, 173, 184, .8); color: white;}

.profile {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin-top: 2rem;
}

td div a.listbutton {
  background-color:  white !important;
  color: black;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

td div a.listbutton:hover {
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: black !important;
}

/* -------------------------------- SUBSCRIPTIONS PAGE -------------------------------- */
/* credit: code taken from https://codepen.io/bronsrobin/full/AmOyRR and edited to fit project needs */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.subscriptionwrapper {
  padding: .8rem;
  background-color: rgba(214, 173, 184, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

.event {
  width: 300px;
  height: 80px;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin: 50px;
}
.event:before {
  content: '';
  display: block;
  width: 295px;
  height: 70px;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px; 
  transform: rotate(2deg);
  position: relative;
  top: 12px;
  left: 2px;
  z-index: -1;
}
.event:after {
  content: '';
  display: block;
  width: 295px;
  height: 75px;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px; 
  transform: rotate(-2deg);
  position: relative;
  top: -136px;
  z-index: -2;  
}
.event > span {
  display: block;
  width: 30px;
  background: #232323;  
  position: relative;
  top: -55px;
  left: -15px;
  
  /* Text */
  color: #fff;
  font-size: 10px;
  padding: 2px 7px;
  text-align: right;
}
.event > .info {
  display: inline-block;
  position: relative;
  top: -75px;
  left: 40px;
  
  /* Text */
  color: #232323;
  font-weight: 600;
  line-height: 25px;
}
.event > .info:first-line {
  text-transform: uppercase;
  font-size: 10px;
  margin: 10px 0 0 0;
  font-weight: 700;
}
.event > .price {
  display: inline-block;
  width: 60px;
  position: relative;
  top: -85px;
  left: 115px; 
  
  /* Text */
  color: #E35354;
  text-align: center;
  font-weight: 700;
}

div a.subscribebutton {
  background-color:  rgb(213, 6, 71) !important;
  color: white;
  font-weight: 600;
  font-size: 21px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

/* -------------------------------- TOASTS -------------------------------- */
/* credit: code taken from https://codepen.io/bronsrobin/full/AmOyRR and edited to fit project needs */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

/* -------------------------------- MEDIA QUERIES -------------------------------- */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .header-container {
      padding-top: 164px;
    }
}


/* increased margin to prevent text from overlapping with navbar on smaller screens */
@media (max-width: 992px) {
  .outerframe {
    padding-top: 150px !important;
  }
}

/* positions the text on the index page further down on smaller screens */
@media (max-width: 992px) {
  .small-index{
    margin-top: 8rem !important;
  }
}

/* expands tables across the entire page on mobile screens */
@media (max-width: 576px) {
table {
  width: 100%;
  }
}