/* -------------------------------- GENERAL -------------------------------- */
/* credit: code taken from https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/e3ce173e7475dd8e9c7f51a3af3eaa888c29cb79/static/css/base.css and edited to fit project needs */

html {
    height: 100%;
}

body {
    background: url('/media/mailbox.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.navbarstyle {
    background-color: rgba(213, 6, 71, 0.9);
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


/* -------------------------------- PENPAL LISTINGS PAGE -------------------------------- */

.profilename {
    color: black;
    font-size: 30px;
}

.profileage {
    color: black;
    font-size: 20px;
}

.profilecountry {
    color: black;
    font-size: 20px;
}

.lookingforpenpals {
    padding: .8rem;
    background-color: rgba(214, 173, 184, 0.6);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
 }

 .lookingforpenpalswrapper {
     margin-left: auto;
     margin-right: auto;
 }

 #penpals {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
  }
  
  #penpals td {
    border: 1px solid rgba(213, 6, 71, .8);
    padding: 8px;
  }
  
  #penpals tr:nth-child(odd){background-color: rgba(213, 6, 71, .8)}

  #penpals tr:nth-child(even){background-color: rgba(214, 173, 184, .8)}
  
  #penpals tr:hover {background-color: rgba(222, 178, 139, .8);}


 