<!--- credit: code taken from https://testdriven.io/blog/django-stripe-subscriptions/ and edited to fit project needs -->


{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="justify-content-center lookingforpenpalswrapper">
                <div class="profilewrapper">
                    <h1 class="display-4 logo-font text-black profile">
                        Subscription Plans  
                    </h1>
                </div>
                <div class="container mt-5">
                    <p>You have cancelled the checkout.</p>
                    <p><a href="{% url 'home' %}">Return to the dashboard</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}