<!--- credit: code taken from https://testdriven.io/blog/django-stripe-subscriptions/ and edited to fit project needs -->


{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class ="outerframe">
    <div class ="frame">
        <div class="subscriptionwrapper">
            <div class="container h-100">
                <div class="justify-content-center lookingforpenpalswrapper">
                    <h1 class="display-4 logo-font text-black profile">
                        Subscription Plans  
                    </h1>
                    <div class="container mt-5 text-black">
                        <p>You have successfully subscribed!</p>
                        <p><a href="{% url 'penpal_list' %}">Time to find a penpal</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
