<!--- credit: code taken from https://github.com/Code-Institute-Solutions/Boutique-Ado/blob/master/05-The-Home-Page/Main-Site-Navigation/templates/includes/mobile-top-header.html and edited to fit project needs -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="/" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'about' %}" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'penpal_me' %}" aria-haspopup="true" aria-expanded="false">
                    My Profile
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'penpal_list' %}"" aria-haspopup="true" aria-expanded="false">
                    Find a Penpal!
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'subscriptions-home' %}" aria-haspopup="true" aria-expanded="false">
                    Subscription
                </a>
            </li>
        {% endif %}
    </ul>
</div>